/***global styling***/
* {
    margin:0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

button {
    background-color: #3882f6;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    color: #e5e7eb;
}

/***section 1***/
.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    gap: 150px;
}

.header > h2 {
    font-size: 24px;
    color: #f9faf8;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 10px;
}

li > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero_content {
    display: flex;
    justify-content: center;
    padding: 150px;
    gap: 50px;
}

.content_text > h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    flex-wrap: wrap;
    width: 500px;
}

.description {
    padding: 10px 0 10px 0;
    text-indent: 30px;
    line-height: 1.3;
    font-size: 18px;
    color: #e5e7eb;
}

.image_hero {
    width: 500px;
    height:310px;
}

/***section 2***/

.section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.section_2 > h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 50px;
}

.gallery {
    display: flex;
    gap: 50px;
}

.gallery_img {
    width: 200px;
    height: 230px;
}

figcaption {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 200px;
}

.product_name {
    padding-bottom: 5px;
    font-weight: 900;
}
/***section 3***/
.section_3 {
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding:150px;
}

.quotation {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.author {
    text-align: right;
    font-weight: 900;
    font-size: 20px;
}


/***section 4***/
.section_4 {
    display: flex;
    flex-direction: column;
    padding: 150px;
}

.call_action {
    display: flex;
    background-color: #3882f6;
    align-self: center;
    border-radius: 15px;
    padding: 50px 100px;
    gap: 400px;
}

.action_text > h2 {
    color:#e5e7eb;
}

.action_text > p {
     color:#e5e7eb;
}

.action_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_up {
    border: 1px solid white;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px;
    display: flex;
    justify-content: center;
}

