/***global styling***/
* {
    margin:0;
    box-sizing: border-box;
}

button {
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    color: #2B1D1A;
}

h1, h2 {
    font-family: "Great Vibes", serif;
}

p {
    font-family: "Cormorant Garamond";
    font-weight: 400;
}

/***section 1***/
.hero {
    display: flex;
    flex-direction: column;
    background-color: #4B0E0E;
}

.header {
    display: flex;
    justify-content: space-around;
    gap: 150px;
    padding-top: 20px;
}

.header > h2 {
    font-size: 24px;
    color: #F5F1E8;
    font-weight: 400;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 10px;
}

li > a {
    font-size: 18px;
    color: #F5F1E8;
    text-decoration: none;
}

.hero_content {
    display: flex;
    justify-content: center;
    padding: 150px;
    gap: 50px;
}

.content_text > h2 {
    font-size: 48px;
    color: #F5F1E8;
    text-shadow: 2px 5px #000000;
    font-weight: 400;
    flex-wrap: wrap;
    width: 500px;
}

.description {
    padding: 10px 0 10px 0;
    text-indent: 30px;
    line-height: 1.3;
    font-size: 18px;
    color: #F5F1E8;
}

.button_hero {
    align-self: flex-end;
    justify-content: flex-end;
    margin-bottom: 0;
}

.image_hero {
    width: 500px;
    height:250px;
    border: 6px solid transparent;
    border-radius: 12px;
    padding: 8px;
    background-clip: padding-box;
    box-shadow: 0 0 0 4px rgba(194,164,94,0.7), inset 0 0 20px rgba(194,164,94,0.3), 0 10px 20px rgba(0,0,0,0.5); 
    transition: transform 0.3s ease;
}

/***section 2***/

.section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #F4E8D3;
}

.section_2 > h2 {
    font-size: 36px;
    color: #2B1D1A;
    font-weight: 900;
    padding-bottom: 50px;
}

.gallery {
    display: flex;
    gap: 50px;
}

.gallery_img {
    width: 200px;
    height: 230px;
}

figcaption {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: #2B1D1A;
    max-width: 200px;
}

.product_name {
    padding-bottom: 5px;
    font-weight: 900;
}
/***section 3***/
.section_3 {
    display:flex;
    flex-direction: column;
    background-color: #EADAC0;
    padding:150px;
}

.quotation {
    font-size: 36px;
    font-style: italic;
    color: #2B1D1A;
    font-weight: 300;
}

.author {
    text-align: right;
    font-weight: 900;
    font-size: 20px;
}


/***section 4***/
.section_4 {
    display: flex;
    flex-direction: column;
    padding: 150px;
    background-color: #F4E8D3;
}

.call_action {
    display: flex;
    background-color: #C2A45E;
    background: radial-gradient(circle, rgba(194,164,94,1) 11%, rgba(189,175,75,1) 57%, rgba(237,221,83,1) 86%, rgba(245,230,120,1) 100%);
    align-self: center;
    border-radius: 15px;
    padding: 50px 100px;
    gap: 400px;
}

.action_text > h2 {
    color:#2B1D1A;
    text-shadow: 1px 1px 2px rgba(59,13,12,0.5);
}

.action_text > p {
     color:#2B1D1A;
     text-shadow: 1px 1px 2px rgba(59,13,12,0.5);
}

.action_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.sign_up {
    border: 1px solid #3b0d0c;
    background-color: transparent;
}

.footer {
    background-color: #4B0E0E;
    color: #F5F1E8;
    padding: 20px;
    display: flex;
    justify-content: center;
}

