/***global styling***/
* {
    margin:0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

button {
    background-color: #3882f6;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    color: #e5e7eb;
}

/***section 1***/
.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    gap: 150px;
}

.header > h2 {
    font-size: 24px;
    color: #f9faf8;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 10px;
}

li > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero_content {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    margin: 100px
}

.content_text > h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    flex-wrap: wrap;
    width: 500px;
}

.description {
    margin: 10px 0 10px 0;
    text-indent: 30px;
    line-height: 1.3;
    font-size: 18px;
    color: #e5e7eb;
}

.image_hero {
    width: 500px;
    height:310px;
}

/***section 2***/
.section_2 > h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.gallery {
    display: flex;
}


/***section 3***/
.section_3 {
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quotation {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}


/***section 4***/
.section_4 {
    display: flex;
    flex-direction: column;
}

.call_action {
    display: flex;
    background-color: #3882f6;
    align-self: center;
}

.sign_up {
    border: 1px solid white;
}

.footer {
    background-color: #1f2937;
    justify-self: flex-end;
}

