*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Upper section*/
.hero {
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    display: flex;
}

.logo {
    font-size: 24px;
    color:#f9faf8;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

.content {
    display: flex;
    align-self: center;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.description {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
}


/*information section */
.info_title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

/*quote section */
.yelp {
    background-color: #e5e7eb ;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}



/*lower section*/
.footer {
    background-color: #1f2937;
}

